In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [7]:
covid_df = pd.read_csv("../data/covid_19_data.csv")
covid_df.head()

        Date State       Region  Confirmed  Deaths  Recovered
0  4/29/2020   NaN  Afghanistan       1939      60        252
1  4/29/2020   NaN      Albania        766      30        455
2  4/29/2020   NaN      Algeria       3848     444       1702
3  4/29/2020   NaN      Andorra        743      42        423
4  4/29/2020   NaN       Angola         27       2          7

In [3]:
covid_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 321 entries, 0 to 320
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       321 non-null    object
 1   State      140 non-null    object
 2   Region     321 non-null    object
 3   Confirmed  321 non-null    int64
 4   Deaths     321 non-null    int64
 5   Recovered  321 non-null    int64
dtypes: int64(3), object(3)
memory usage: 15.2+ KB

In [4]:
covid_df.value_counts()

Date       State     Region          Confirmed  Deaths  Recovered
4/29/2020  Alabama   US              6912       256     0            1
           Alaska    US              355        9       0            1
           Alberta   Canada          5165       87      0            1
           Anguilla  UK              3          0       3            1
           Anhui     Mainland China  991        6       985          1
                                                                    ..
           Wyoming   US              545        7       0            1
           Xinjiang  Mainland China  76         3       73           1
           Yukon     Canada          11         0       0            1
           Yunnan    Mainland China  185        2       181          1
           Zhejiang  Mainland China  1268       1       1263         1
Name: count, Length: 140, dtype: int64

In [5]:
covid_df.describe()

           Confirmed        Deaths      Recovered
count     321.000000    321.000000     321.000000
mean     9949.800623    709.152648    3030.277259
std     31923.853086   3236.162817   14364.870365
min         0.000000      0.000000       0.000000
25%       104.000000      2.000000       2.000000
50%       653.000000     12.000000      73.000000
75%      4655.000000    144.000000     587.000000
max    299691.000000  27682.000000  132929.000000

In [9]:
covid_df.sort_values(by=['Confirmed', 'Recovered'], ascending=[True,False])

,Date,State,Region,Confirmed,Deaths,Recovered
285,4/29/2020,Recovered,US,0,0,120720
284,4/29/2020,Recovered,Canada,0,0,20327
203,4/29/2020,Diamond Princess cruise ship,Canada,0,1,0
305,4/29/2020,Tibet,Mainland China,1,0,1
289,4/29/2020,Saint Pierre and Miquelon,France,1,0,0
...,...,...,...,...,...,...
57,4/29/2020,NaN,France,165093,24087,48228
168,4/29/2020,NaN,UK,165221,26097,0
80,4/29/2020,NaN,Italy,203591,27682,71252
153,4/29/2020,NaN,Spain,236899,24275,132929
265,4/29/2020,New York,US,299691,23477,0