In [46]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [47]:
covid_df = pd.read_csv("../data/covid_19_data.csv")
covid_df

          Date     State          Region  Confirmed  Deaths  Recovered
0    4/29/2020       NaN     Afghanistan       1939      60        252
1    4/29/2020       NaN         Albania        766      30        455
2    4/29/2020       NaN         Algeria       3848     444       1702
3    4/29/2020       NaN         Andorra        743      42        423
4    4/29/2020       NaN          Angola         27       2          7
..         ...       ...             ...        ...     ...        ...
316  4/29/2020   Wyoming              US        545       7          0
317  4/29/2020  Xinjiang  Mainland China         76       3         73
318  4/29/2020     Yukon          Canada         11       0          0
319  4/29/2020    Yunnan  Mainland China        185       2        181
320  4/29/2020  Zhejiang  Mainland China       1268       1       1263

[321 rows x 6 columns]

In [48]:
covid_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 321 entries, 0 to 320
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       321 non-null    object
 1   State      140 non-null    object
 2   Region     321 non-null    object
 3   Confirmed  321 non-null    int64
 4   Deaths     321 non-null    int64
 5   Recovered  321 non-null    int64
dtypes: int64(3), object(3)
memory usage: 15.2+ KB

In [49]:
covid_df.value_counts()

Date       State     Region          Confirmed  Deaths  Recovered
4/29/2020  Alabama   US              6912       256     0            1
           Alaska    US              355        9       0            1
           Alberta   Canada          5165       87      0            1
           Anguilla  UK              3          0       3            1
           Anhui     Mainland China  991        6       985          1
                                                                    ..
           Wyoming   US              545        7       0            1
           Xinjiang  Mainland China  76         3       73           1
           Yukon     Canada          11         0       0            1
           Yunnan    Mainland China  185        2       181          1
           Zhejiang  Mainland China  1268       1       1263         1
Name: count, Length: 140, dtype: int64

In [50]:
covid_df.describe()

           Confirmed        Deaths      Recovered
count     321.000000    321.000000     321.000000
mean     9949.800623    709.152648    3030.277259
std     31923.853086   3236.162817   14364.870365
min         0.000000      0.000000       0.000000
25%       104.000000      2.000000       2.000000
50%       653.000000     12.000000      73.000000
75%      4655.000000    144.000000     587.000000
max    299691.000000  27682.000000  132929.000000

Notes on the Dataset:
-Change Region to Country
-How to change State column that has "NaN" in to None or Not Applicable?

In [51]:
covid_df.sort_values(by=['Confirmed', 'Recovered'], ascending=[True,False])

,Date,State,Region,Confirmed,Deaths,Recovered
285,4/29/2020,Recovered,US,0,0,120720
284,4/29/2020,Recovered,Canada,0,0,20327
203,4/29/2020,Diamond Princess cruise ship,Canada,0,1,0
305,4/29/2020,Tibet,Mainland China,1,0,1
289,4/29/2020,Saint Pierre and Miquelon,France,1,0,0
...,...,...,...,...,...,...
57,4/29/2020,NaN,France,165093,24087,48228
168,4/29/2020,NaN,UK,165221,26097,0
80,4/29/2020,NaN,Italy,203591,27682,71252
153,4/29/2020,NaN,Spain,236899,24275,132929
265,4/29/2020,New York,US,299691,23477,0

In [52]:
covid_df.loc[0:100,['State','Region']]

    State       Region
0     NaN  Afghanistan
1     NaN      Albania
2     NaN      Algeria
3     NaN      Andorra
4     NaN       Angola
..    ...          ...
96    NaN    Lithuania
97    NaN   Luxembourg
98    NaN   MS Zaandam
99    NaN   Madagascar
100   NaN       Malawi

[101 rows x 2 columns]

In [53]:
covid_df.rename(columns={'Region':'Country'}, inplace=True)
covid_df.head()

        Date State      Country  Confirmed  Deaths  Recovered
0  4/29/2020   NaN  Afghanistan       1939      60        252
1  4/29/2020   NaN      Albania        766      30        455
2  4/29/2020   NaN      Algeria       3848     444       1702
3  4/29/2020   NaN      Andorra        743      42        423
4  4/29/2020   NaN       Angola         27       2          7

This is where I'm starting to do Exploratory Data Analysis

In [54]:
covid_df.isnull
#Starting to look at missing Data

<bound method DataFrame.isnull of           Date     State         Country  Confirmed  Deaths  Recovered
0    4/29/2020       NaN     Afghanistan       1939      60        252
1    4/29/2020       NaN         Albania        766      30        455
2    4/29/2020       NaN         Algeria       3848     444       1702
3    4/29/2020       NaN         Andorra        743      42        423
4    4/29/2020       NaN          Angola         27       2          7
..         ...       ...             ...        ...     ...        ...
316  4/29/2020   Wyoming              US        545       7          0
317  4/29/2020  Xinjiang  Mainland China         76       3         73
318  4/29/2020     Yukon          Canada         11       0          0
319  4/29/2020    Yunnan  Mainland China        185       2        181
320  4/29/2020  Zhejiang  Mainland China       1268       1       1263

[321 rows x 6 columns]>

In [55]:
covid_df.isnull().sum()

Date           0
State        181
Country        0
Confirmed      0
Deaths         0
Recovered      0
dtype: int64

In [56]:
covid_df.fillna('Unknown')
#filling "NaN" with "Unknown"

          Date     State         Country  Confirmed  Deaths  Recovered
0    4/29/2020   Unknown     Afghanistan       1939      60        252
1    4/29/2020   Unknown         Albania        766      30        455
2    4/29/2020   Unknown         Algeria       3848     444       1702
3    4/29/2020   Unknown         Andorra        743      42        423
4    4/29/2020   Unknown          Angola         27       2          7
..         ...       ...             ...        ...     ...        ...
316  4/29/2020   Wyoming              US        545       7          0
317  4/29/2020  Xinjiang  Mainland China         76       3         73
318  4/29/2020     Yukon          Canada         11       0          0
319  4/29/2020    Yunnan  Mainland China        185       2        181
320  4/29/2020  Zhejiang  Mainland China       1268       1       1263

[321 rows x 6 columns]

In [57]:
covid_df.dtypes
#Just curious how many types there are and I'm looking at how many columns in total

Date         object
State        object
Country      object
Confirmed     int64
Deaths        int64
Recovered     int64
dtype: object

In [58]:
covid_df['Country'] = covid_df['Country'].replace('Mainland China','China')
#Replacing "Mainland China" w/ China

 Since all of this COVID data was recorded during the first wave of the Pandemic
 I've decided to look at COVID cases between three countries: US, China, Canada
 I also wanted to see who had the highest cases and see if the COVID safely practices made a huge diffrence between these three countries.

In [59]:
filter_df = covid_df[covid_df['Country'].str.contains('US')]
filter_df
#filtering COVID cases to the U.S.

,Date,State,Country,Confirmed,Deaths,Recovered
181,4/29/2020,Alabama,US,6912,256,0
182,4/29/2020,Alaska,US,355,9,0
186,4/29/2020,Arizona,US,7209,308,0
187,4/29/2020,Arkansas,US,3193,57,0
195,4/29/2020,California,US,48747,1946,0
199,4/29/2020,Colorado,US,14758,766,0
200,4/29/2020,Connecticut,US,26767,2169,0
202,4/29/2020,Delaware,US,4655,144,0
204,4/29/2020,Diamond Princess cruise ship,US,49,0,0
205,4/29/2020,District of Columbia,US,4106,205,0
208,4/29/2020,Florida,US,33193,1218,0
213,4/29/2020,Georgia,US,25775,1101,0
216,4/29/2020,Grand Princess,US,103,3,0
219,4/29/2020,Guam,US,141,5,0
224,4/29/2020,Hawaii,US,613,16,0
231,4/29/2020,Idaho,US,1952,60,0
232,4/29/2020,Illinois,US,50358,2215,0
233,4/29/2020,Indiana,US,17182,964,0
235,4/29/2020,Iowa,US,6843,148,0
240,4/29/2020,Kansas,US,3839,134,0
241,4/29/2020,Kentucky,US,4537,234,0
243,4/29/2020,Louisiana,US,27660,1845,0
245,4/29/2020,Maine,US,1056,52,0
248,4/29/2020,Maryland,US,20849,1078,0
249,4/29/2020,Massachusetts,US,60265,3405,0
251,4/29/2020,Michigan,US,40399,3670,0
252,4/29/2020,Minnesota,US,4644,319,0
253,4/29/2020,Mississippi,US,6569,250,0
254,4/29/2020,Missouri,US,7660,338,0
255,4/29/2020,Montana,US,451,16,0
257,4/29/2020,Nebraska,US,3851,56,0
258,4/29/2020,Nevada,US,4934,230,0
261,4/29/2020,New Hampshire,US,2058,60,0
262,4/29/2020,New Jersey,US,116365,6771,0
263,4/29/2020,New Mexico,US,3213,112,0
265,4/29/2020,New York,US,299691,23477,0
268,4/29/2020,North Carolina,US,10180,382,0
269,4/29/2020,North Dakota,US,1033,19,0
270,4/29/2020,Northern Mariana Islands,US,14,2,0
274,4/29/2020,Ohio,US,17303,937,0
275,4/29/2020,Oklahoma,US,3473,214,0
277,4/29/2020,Oregon,US,2446,101,0
278,4/29/2020,Pennsylvania,US,46327,2373,0
280,4/29/2020,Puerto Rico,US,1433,86,0
285,4/29/2020,Recovered,US,0,0,120720
287,4/29/2020,Rhode Island,US,8247,251,0
298,4/29/2020,South Carolina,US,5882,231,0
299,4/29/2020,South Dakota,US,2373,13,0
302,4/29/2020,Tennessee,US,10366,195,0
303,4/29/2020,Texas,US,27257,754,0
307,4/29/2020,Utah,US,4497,45,0
308,4/29/2020,Vermont,US,862,47,0
310,4/29/2020,Virgin Islands,US,57,4,0
311,4/29/2020,Virginia,US,14962,522,0
312,4/29/2020,Washington,US,14070,801,0
313,4/29/2020,West Virginia,US,1110,38,0
315,4/29/2020,Wisconsin,US,6520,308,0
316,4/29/2020,Wyoming,US,545,7,0

In [60]:
filter2_df = covid_df[covid_df['Country'].str.contains('Canada')]
filter2_df
#filtering COVID Case in Canada

,Date,State,Country,Confirmed,Deaths,Recovered
183,4/29/2020,Alberta,Canada,5165,87,0
193,4/29/2020,British Columbia,Canada,2087,109,0
203,4/29/2020,Diamond Princess cruise ship,Canada,0,1,0
215,4/29/2020,Grand Princess,Canada,13,0,0
246,4/29/2020,Manitoba,Canada,275,6,0
259,4/29/2020,New Brunswick,Canada,118,0,0
266,4/29/2020,Newfoundland and Labrador,Canada,258,3,0
272,4/29/2020,Northwest Territories,Canada,5,0,0
273,4/29/2020,Nova Scotia,Canada,935,28,0
276,4/29/2020,Ontario,Canada,16978,1153,0
279,4/29/2020,Prince Edward Island,Canada,27,0,0
282,4/29/2020,Quebec,Canada,26610,1762,0
284,4/29/2020,Recovered,Canada,0,0,20327
290,4/29/2020,Saskatchewan,Canada,383,6,0
318,4/29/2020,Yukon,Canada,11,0,0

In [62]:
filter3_df = covid_df[covid_df['Country'].str.contains('China')]
filter3_df
#Filtered COVID cases in China

          Date           State Country  Confirmed  Deaths  Recovered
185  4/29/2020           Anhui   China        991       6        985
190  4/29/2020         Beijing   China        593       9        542
198  4/29/2020       Chongqing   China        579       6        573
211  4/29/2020          Fujian   China        355       1        353
212  4/29/2020           Gansu   China        139       2        137
220  4/29/2020       Guangdong   China       1588       8       1557
221  4/29/2020         Guangxi   China        254       2        252
222  4/29/2020         Guizhou   China        147       2        145
223  4/29/2020          Hainan   China        168       6        162
225  4/29/2020           Hebei   China        328       6        318
226  4/29/2020    Heilongjiang   China        939      13        587
227  4/29/2020           Henan   China       1276      22       1254
229  4/29/2020           Hubei   China      68128    4512      63616
230  4/29/2020           Hunan   China       1019       4       1015
234  4/29/2020  Inner Mongolia   China        200       1        150
237  4/29/2020         Jiangsu   China        653       0        648
238  4/29/2020         Jiangxi   China        937       1        936
239  4/29/2020           Jilin   China        111       1         99
242  4/29/2020        Liaoning   China        146       2        143
267  4/29/2020         Ningxia   China         75       0         75
281  4/29/2020         Qinghai   China         18       0         18
291  4/29/2020         Shaanxi   China        306       3        253
292  4/29/2020        Shandong   China        787       7        772
293  4/29/2020        Shanghai   China        647       7        597
294  4/29/2020          Shanxi   China        197       0        164
295  4/29/2020         Sichuan   China        561       3        558
304  4/29/2020         Tianjin   China        190       3        183
305  4/29/2020           Tibet   China          1       0          1
317  4/29/2020        Xinjiang   China         76       3         73
319  4/29/2020          Yunnan   China        185       2        181
320  4/29/2020        Zhejiang   China       1268       1       1263